* {
  margin: 0;
  padding: 0;
}

body {
    font-family: "Segoe UI", sans-serif;
    overflow: hidden;
    background-color: #000;
}

#curtain {
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);
	background-size: auto;
	overflow: hidden;
	transition: 0.2s;
	cursor: pointer;
}

#curtain:hover {
	bottom: 5%;
}

.lamp_container {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	z-index: -1;
	height: 30%;
	margin-top: 5vh;
}

.lamp_container>img:first-child {
	height: 100%;
	cursor: pointer;
}

.lamp_container>img {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	background-size: auto;
}

#switch {
	position: absolute;
	height: 11vh;
	margin: 2vh 0 5vh -3vh;
	transition: margin 0.1s;
	z-index: -2;
}

#light {
	position: absolute;
	z-index: -1;
	transform: translateX(-50%);
	left: 50%;
	opacity: 0;
	transition: opacity 0.2s;

	border-bottom: 80vh solid yellow;
	border-left: 45vh solid transparent;
	border-right: 45vh solid transparent;

	margin-top: 11.3vh;
	width: 10vh;
}

#magician {
	position: absolute;
	height: 100%;
	background-size: auto;
	left: 1vh;
	z-index: -1;
}

#hat {
  transform: rotate(180deg);
  height: 20vh;
  left: -17vh;
}

.magic_objects {
	position: absolute;
	right: 20vh;
	top: 15vh;
	z-index: -1;
	height: 20vh;
}

.magic_objects>img {
	position: absolute;
	height: 70%;
	background-size: auto;
	left: 50%;
	transform: translate(-50%, 0);
}

#rabbit,
#pigeon {
	bottom: 9vh;
	transition: 0s;
	margin-top: 5vh;
	left: -4vh;
	height: 40%;
	z-index: -4;
}

#rabbit {
	bottom: 25vh;
}

#magic, #layerUpForMagic {
	position: absolute;
	transform: translate(-50%, 0);
	bottom: 10vh;
	left: 50%;
	width: 80vh;
	height: 38vh;
  z-index: -3;
	transition: opacity 0.2s;
	opacity: 0;
}

#layerUpForMagic {
	display: none;
	z-index: 10;
}

#hatUp,
#animalUp {
	position: absolute;
	z-index: 0;
	cursor: pointer;
}

#hatUp {
	right: 11vh;
	bottom: 2vh;
	width: 22vh;
	height: 22vh;
}

#animalUp {
	bottom: 28vh;
	right: 18vh;
	width: 12vh;
	height: 8vh;
}
